<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PVRTexTool_PVR.icns</string>
			<key>CFBundleTypeName</key>
			<string>PowerVR Texture</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.powervr.image.pvr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PVRTexTool_DDS.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Direct Draw Surface</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.image.dds</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PVRTexTool_KTX.icns</string>
			<key>CFBundleTypeName</key>
			<string>Khronos Texture</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.khronos.image.ktx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PNG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Windows bitmap image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PVRTexToolGUI</string>
	<key>CFBundleGetInfoString</key>
	<string>4.1.3. Copyright © Imagination Technologies Ltd. All Rights Reserved.</string>
	<key>CFBundleIconFile</key>
	<string>PVRTexToolOSX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.powervr.PVRTexToolGUI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>001500080008</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4G2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12C37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0452</string>
	<key>DTXcodeBuild</key>
	<string>4G2008a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Imagination Technologies Ltd. All Rights Reserved.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PowerVR Texture</string>
			<key>UTTypeIconFile</key>
			<string>PVRTexTool_PVR.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.powervr.image.pvr</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.powervrinsider.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pvr</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Direct Draw Surface</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.image.dds</string>
			<key>UTTypeReferenceURL</key>
			<string>http://msdn.microsoft.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dds</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x-dds</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Khronos Texture</string>
			<key>UTTypeIdentifier</key>
			<string>org.khronos.image.ktx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.khronos.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ktx</string>
				</array>
				<key>public.mime-type</key>
				<string>image/khronos-ktx</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
